@charset "utf-8";


@media screen and (max-width:575px){
	.logo{
	position: fixed;
	bottom: 10px;
	z-index: 10;
}
.logo_img{
	border-radius: 50%;
	width: 15%;
	float: left;
	margin-left: 20px;
	background-size: cover;
}
	.carousel-inner{
	height: 35vh;
		top: 20px;
	width: 100%;
}
.carousel-item{
	height: 35vh;
	top: 20px;
	padding: 0px;
	margin: 0px;
}
.carousel-caption{
	bottom: 60px;
	z-index: 1;
}
.carousel-caption h1{
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 20px;
}
.carousel-caption h2{
	width: 60%;
	margin: auto;
	font-size: 20px;
	line-height: .9;
}
	.carousel-control-prev{
		bottom: 26px;
	}
	.carousel-control-next{
		bottom: 26px;
	}
.whats_call{
	position: fixed;
	top: 180px;
	z-index: 10;
	padding: 0px;
	margin: 0px;
}
.whatsapp_img{
	border-radius: 50%;
	width: 8%;
	width: 40px;
	height: 40px;
	float: right;
	margin-right: 20px;
	background-size: cover;
}
.phone_call{
	position: fixed;
	top: 230px;
	z-index: 10;
	padding: 0px;
	margin: 0px;
}
.phone_img{
	border-radius: 50%;
	background-position: center;
	width: 8%;
	width: 40px;
	height: 40px;
	float: right;
	margin-right: 20px;
	background-size: cover;
}
}


@media screen and (min-width:576px) and (max-width:767px){
		.logo{
	position: fixed;
	bottom: 10px;
	z-index: 10;
}
.logo_img{
	border-radius: 50%;
	width: 15%;
	float: left;
	margin-left: 20px;
	background-size: cover;
}
	.carousel-item{
	height: 65vh;
	min-height: 80px;
	padding: 0px;
	margin: 0px;
}
.carousel-caption{
	bottom: 260px;
	z-index: 1;
}
.carousel-caption h1{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 5px;
}
.carousel-caption h2{
	width: 60%;
	margin: auto;
	font-size: 30px;
	line-height: .9;
}
.carousel-inner{
	content: '';
	height: 48vh;
	width: 100%;
}
	.carousel-control-prev{
		bottom: 40px;
	}
	.carousel-control-next{
		bottom: 40px;
	}
.whats_call{
	position: fixed;
	top: 240px;
	z-index: 10;
	padding: 0px;
	margin: 0px;
}
.whatsapp_img{
	border-radius: 50%;
	width: 8%;
	float: right;
	margin-right: 45px;
	background-size: cover;
}
.phone_call{
	position: fixed;
	top: 340px;
	z-index: 10;
	padding: 0px;
	margin: 0px;
}
.phone_img{
	border-radius: 50%;
	background-position: center;
	width: 8%;
	float: right;
	margin-right: 45px;
	background-size: cover;
}
}

@media screen and (min-width:768px) and (max-width:991px){
		.logo{
	position: fixed;
	bottom: 10px;
	z-index: 10;
}
.logo_img{
	border-radius: 50%;
	width: 15%;
	float: left;
	margin-left: 30px;
	background-size: cover;
}
	.carousel-item{
	height: 85vh;
	min-height: 110px;
	padding: 0px;
	margin: 0px;
}
.carousel-caption{
	bottom: 420px;
	z-index: 1;
}
.carousel-caption h1{
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 65px;
}
.carousel-caption h2{
	width: 75%;
	margin: auto;
	font-size: 25px;
	line-height: .9;
}
.carousel-inner{
	content: '';
	height: 58vh;
	width: 100%;
}
	.carousel-control-prev{
		bottom: 600px;
	}
	.carousel-control-next{
		bottom: 60px;
	}
.whats_call{
	position: fixed;
	top: 300px;
	z-index: 10;
	padding: 0px;
	margin: 0px;
}
.whatsapp_img{
	border-radius: 50%;
	width: 6%;
	float: right;
	margin-right: 60px;
	background-size: cover;
}
.phone_call{
	position: fixed;
	top: 400px;
	z-index: 10;
	padding: 0px;
	margin: 0px;
}
.phone_img{
	border-radius: 50%;
	background-position: center;
	width: 6%;
	float: right;
	margin-right: 60px;
	background-size: cover;
}
	
}

@media screen and (min-width:992px) and (max-width:1199px){
	.carousel-item{
	height: 75vh;
	top: 60px;
	padding: 0px;
	margin: 0px;
}
.carousel-caption{
	top: 140px;
	z-index: 1;
}
.carousel-caption h1{
	font-size: 40px;
	top: 400px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 5px;
}
.carousel-caption h2{
	width: 60%;
	margin: auto;
	font-size: 35px;
	line-height: .9;
}
	.whats_call{
	position: fixed;
	top: 480px;
	z-index: 10;
	padding: 0px;
	margin: 0px;
}
.whatsapp_img{
	border-radius: 50%;
	width: 6%;
	float: right;
	margin-right: 60px;
	background-size: cover;
}
.phone_call{
	position: fixed;
	top: 580px;
	z-index: 1;
	padding: 0px;
	margin: 0px;
}
.phone_img{
	border-radius: 50%;
	background-position: center;
	width: 6%;
	float: right;
	margin-right: 60px;
	background-size: cover;
}
	}
@media screen and (min-width:1200px) and (max-width:1399px){
	.whats_call{
	position: fixed;
	top: 540px;
	z-index: 10;
	padding: 0px;
	margin: 0px;
}
.whatsapp_img{
	border-radius: 50%;
	width: 6%;
	float: right;
	margin-right: 60px;
	background-size: cover;
}
.phone_call{
	position: fixed;
	top: 650px;
	z-index: 1;
	padding: 0px;
	margin: 0px;
}
.phone_img{
	border-radius: 50%;
	background-position: center;
	width: 6%;
	float: right;
	margin-right: 60px;
	background-size: cover;
}
}
